body {
  background-image: url('http://images.fanpop.com/images/image_uploads/Apple-XP-apple-41161_1024_768.jpg');
  background-size: cover;
}
h1 {
  color: black;
  text-align: Left;
}
body {
  color: dark;
  text-align: letter-spacing;
}

